{% extends 'base.html' %}
{% block body %}
<div id="wrapper">
    <header id="header" class>
        <div class='header-inner'>
            <div class='hamburger-menu-toggle'>
                <input type='checkbox'>
                <span></span>
                <span></span>
                <span></span>
                <ul class='menu'>
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>Info</li></a>
                    <a href="#"><li>About</li></a>
                    <a href="#"><li>Contact</li></a>
                    <a href="#"><li>More</li></a>
                </ul>
            </div>
        </div>
    </header>
    <main id="main" class>
        <div id='content' role="main">
        </div>
    </main>
</div>
{% endblock %}
{% block footer %}
{% endblock %}
{% block script %}
{% endblock %}
